
<!-- footer starts here -->
<!-- footer  area -->	
	<div class="footer_area">
		<div class="container">
			<div class="row">
				<div class="borderbottom">			
					<div class="col-md-6 col-sm-12">
						<div class="footer_top_left">
							<img src="img/logo-white.png" alt="" />
							<span>Learning language is easier then ever before</span>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="footer_top_right">
						 <span>256 Tutors 20,690 Tutorials 646 Video Courses </span>
						 <a href="" class="read_more">sing up</a>
						</div>
					</div>
				</div>
			</div>
			<!-- widget area -->
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<!--single widget item -->
					<div class="single_widget">
						<div class="widget_thumb">
							<img src="img/home1/camp-1.jpg" alt="" />
						</div>
						<div class="widget_content">
							<h2>Come & enjoy our free webinner</h2>
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
							 <a href="" class="read_more">JOIN NOW</a>
						</div>
					</div>
					<!--single widget item -->
					<div class="single_widget">						
						<div class="widget_thumb">
							<img src="img/home1/camp-2.jpg" alt="" />
						</div>
						<div class="widget_content">
							<h2>Come & enjoy our free webinner</h2>
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada </p>
							 <a href="" class="read_more">JOIN NOW</a>
						</div>
					</div>					
				</div>
				<div class="col-md-3 col-sm-6">
					<!--single widget item -->
					<div class="single_widget">
						<div class="widget_content">
							<h2>Meet Academia</h2>
							<ul>
								<li><a href="#">Get Started</a></li>
								<li><a href="#">Download</a></li>
								<li><a href="#">Scaffolding</a></li>
								<li><a href="#">Base CSS</a></li>
							</ul>
						</div>
					</div>
					<!--single widget item -->
					<div class="single_widget">
						<div class="widget_content">
							<h2>Help and Support</h2>
							<ul>
								<li><a href="#">Get Started</a></li>
								<li><a href="#">Download</a></li>
								<li><a href="#">Scaffolding</a></li>
								<li><a href="#">Base CSS</a></li>
								<li><a href="#">Base CSS</a></li>
							</ul>
						</div>
					</div>					
				</div>
				<div class="col-md-3 col-sm-6">
					<!--single widget item -->
					<div class="single_widget">
						<div class="widget_content">
							<h2>Join Our Community</h2>
							<ul>
								<li><a href="#">Official LESS Website</a></li>
								<li><a href="#">LESS Wiki</a></li>
								<li><a href="#">Source Code</a></li>
								<li><a href="#">Base CSS</a></li>
							</ul>
						</div>
					</div>
					<!--single widget item -->
					<div class="single_widget">
						<div class="widget_content">
							<h2>Subscribe Newsletter</h2>
							<p>Get latest updates, news, survays & offers</p>
							<div class="inputbox">
								<input type="text" placeholder="your email here" name="name"/>
								<button type="submit" class="read_more buttons">Subscribe  <i class="fa fa-graduation-cap"></i></button>
							</div>
						</div>
					</div>
					<!--end single widget item -->
				</div>
			</div>
			<!-- end widget area -->
		</div>
	</div>
	<!-- end footer  area -->
	<!-- footer bottom area -->
	<div class="footer_bottom_area">
		<div class="container">
			<div class="row">
				<div class=" col-sm-6 col-md-6 col-lg-6">
					<div class="footer_text">
						<p>
							Copyright © 2016 Academia. All Rights Reserved.
						</p>
					</div>
				</div>
				<div class=" col-sm-6 col-md-6 col-lg-6">
					<p class="text-right">Design By <a href="http://bootexperts.com/">bootexperts.com</a></p>
				</div>				
			</div>
		</div>	
	</div>
<!-- footer ends  -->
</body>

<!-- jquery
============================================ -->		
<script src="js/lib/plugins/vendor/jquery-1.11.3.min.js"></script>
<!-- bootstrap JS
============================================ -->		
<script src="js/lib/plugins/bootstrap.min.js"></script>
<!-- wow JS
============================================ -->		
<script src="js/lib/plugins/wow.min.js"></script>
 <!-- Nivo Slider JS -->
<script src="js/lib/plugins/jquery.nivo.slider.pack.js"></script> 		
<!-- meanmenu JS
============================================ -->		
<script src="js/lib/plugins/jquery.meanmenu.min.js"></script>
<!-- owl.carousel JS
============================================ -->		
<script src="js/lib/plugins/owl.carousel.min.js"></script>
<!-- scrollUp JS
============================================ -->		
<script src="js/lib/plugins/jquery.scrollUp.min.js"></script>
<!-- Apple TV Effect -->
<script src="js/lib/plugins/atvImg-min.js"></script>
<!-- Add venobox js -->
<script type="text/javascript" src="js/lib/plugins/vendor/venobox.min.js"></script>
<!-- plugins JS
============================================ -->		
<script src="js/lib/plugins/plugins.js"></script>
<!-- main JS
============================================ -->		
<script src="js/lib/plugins/main.js"></script>
    </body>
</html>