<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home One || Academia</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">		
		<!-- Google Fonts
		============================================ -->		
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href="http://allfont.net/allfont.css?fonts=montserrat-light" rel="stylesheet" type="text/css" />
		<!--linearicons font-->
		<link rel="stylesheet" href="css/linearfont.css">
		<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- meanmenu CSS
		============================================ -->		
        <link rel="stylesheet" href="css/meanmenu.min.css">
		<!-- Bootstrap CSS
		============================================ -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/owl.transitions.css">
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="css/normalize.css">
		<!-- Nivo Slider CSS -->
		<link rel="stylesheet" href="css/nivo-slider.css">
		<!-- Add venobox css -->
		<link rel="stylesheet" href="css/venobox/venobox.css"> 
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Nivo Slider CSS -->
		<link rel="stylesheet" href="css/nivo-slider.css">		
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="css/style.css">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="css/responsive.css">
		<!-- modernizr JS
		============================================ -->		
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-app="myApp">
    <!--start header  area --> 
	<div class="header_area">
		<div class="container">
			<div class="row">
				<!-- header  logo --> 
				<div class="col-md-4 col-sm-3 col-xs-12">
					<div class="logo"><a href="index.html"><img src="img/logo.png" alt="" /></a></div>
				</div>
				<!-- end header  logo --> 
				<div class="col-md-8 col-sm-9 col-xs-12">
					<div>
						<div class="form pull-right">
							<div class="language">
								  <select class="form-lan">
								    <option value="english" selected>English</option>
								    <option value="english">Arabic</option>
								  </select>
							</div>
						</div>
						<div class="social_icon pull-right">
							<p>
							   <a target="_blank" href="#" class="icon-set"><i class="fa fa-facebook"></i></a> 
							   <a target="_blank" href="#" class="icon-set"><i class="fa fa-twitter"></i></a> 
							   <a target="_blank" href="#" class="icon-set"><i class="fa fa-linkedin"></i></a>
							</p>
						</div>				
					</div>
					<div class="phone_address pull-right clear">
						<p class="no-margin">
						  <small>
							  <span class="text-msg">Have any questions?</span>
							  <span class="icon-set"><i class="fa fa-phone"></i> +880 1973 833 508</span> 
							  <span class="icon-set"><i class="fa fa-envelope"></i> admin@bootexperts.com</span> 
						  </small>
						</p>				
					</div>
				</div>
			</div>
		</div>
	</div>
	 <!--end header  area --> 
    <!--Start nav  area --> 
	<div class="nav_area">
		<div class="container">
			<div class="row">
				<!--nav item-->
				<div class="col-md-12 col-sm-12 col-xs-12">
					<!--  nav menu-->
					<nav class="menu">
						<ul class="navid pull-left">
							<li><a href="index.html">Home <i class="fa fa-angle-down"></i></a>
								<ul>
									<li><a href="index-2.html">Home 2</a></li>
									<li><a href="index-3.html">Home 3</a></li>
									<li><a href="index-4.html">Home Box Layout</a></li>
								</ul>
							</li>
							<li><a href="courses-item-1.html">Courses <i class="fa fa-angle-down"></i></a>
								<ul>
									<li><a href="courses-item-1.html">Courses List layout 1</a></li>
									<li><a href="courses-item-2.html">Courses List layout 2 </a></li>
									<li><a href="single-courses.html">Course Item </a></li>
								</ul>							
							</li>
							<li><a href="#">Pages <i class="fa fa-angle-down"></i></a>
								<ul>
									<li><a href="faq.html">FAQ </a></li>
									<li><a href="login.html">Login Page  </a></li>
									<li><a href="gellary.html">Image Gallery </a></li>
									<li><a href="about-page.html">About Page </a></li>
									<li><a href="news-bulletin.html">News Bulletin  </a></li>
									<li><a href="registration.html">Registration Form</a></li>
									<li><a href="contract.html">Contacts </a></li>
									<li><a href="404.html">404 </a></li>
								</ul>							
							</li>						
							<li><a href="store.html">Store</a></li>
							<li><a href="blog.html">Blog</a></li>							
							<li><a href="about-page.html">About Us</a></li>
							<li><a href="contract.html">Contact</a></li>
						</ul>
					</nav>
					<!--end  nav menu-->	
					<div class="search pull-right">
						<div class="search-box">
							<input type="text" class="form_control" placeholder="search" />
							<span class="search-open"><i class="fa fa-search search"></i><i class="fa fa-close hidden close"></i></span>
						</div>
					</div>
				</div>
				<!--end nav item -->
			</div>	
		</div>
	
	</div>
	<!--end nav  area -->
	<!--Start mobile menu  area -->
	<div class="mobile_memu_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="mobile_memu">
					<!--  nav menu-->
					<nav>
						<ul class="navid">
							<li><a href="index.html">Home</a>
								<ul>
									<li><a href="index-2.html">Home 2</a></li>
									<li><a href="index-3.html">Home 3</a></li>
									<li><a href="index-4.html">Home Box Layout</a></li>
								</ul>
							</li>
							<li><a href="#">Courses</a>
								<ul>
									<li><a href="courses-item-1.html">Courses List layout 1</a></li>
									<li><a href="courses-item-2.html">Courses List layout 2 </a></li>
									<li><a href="single-courses.html">Course Item </a></li>
								</ul>							
							</li>
							<li><a href="#">Pages</a>
								<ul>
									<li><a href="faq.html">FAQ </a></li>
									<li><a href="login.html">Login Page  </a></li>
									<li><a href="gellary.html">Image Gallery </a></li>
									<li><a href="about-page.html">About Page </a></li>
									<li><a href="news-bulletin.html">News Bulletin  </a></li>
									<li><a href="registration.html">Registration Form</a></li>
									<li><a href="contract.html">Contacts </a></li>
									<li><a href="404.html">404 </a></li>
								</ul>							
							</li>							
							<li><a href="store.html">Store</a></li>
							<li><a href="blog.html">Blog</a></li>							
							<li><a href="about-page.html">About Us</a></li>
							<li><a href="contract.html">Contact</a></li>
						</ul>
					</nav>
					<!--end  nav menu-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end mobile menu  area --> 	
