<% include includes/header.ejs %>
  <!--Start slider  area --> 
  <div class="slider_area">
    <div class="container-fluid">
    <div class="row">
     <!-- Tab panes -->
      <div class="tab-content">
        <!--single tab slide item-->
        <div class="tab-pane active" id="a">
          <div class="col-md-7 col-sm-7 col-xs-12 pd0">
            <div class="slide_thumb">
              <img src="img/home1/s1.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12 pd0">
            <div class="slide_text">
              <h2 class="slide_title">Opening up a world of education </h2>
              <p class="slide_ptext">We believe that there is nothing more important then skillful education</p>
              <a href="" class="slide_readmore">Explore Courses</a>
            </div>
          </div>
        </div>    
        <!--end single tab slide item-->
        <!--single tab slide item-->
        <div class="tab-pane" id="b">
          <div class="col-md-7 col-sm-7 col-xs-12 pd0">
            <div class="slide_thumb">
              <img src="img/home1/s2.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12 pd0">
            <div class="slide_text">
              <h2 class="slide_title">Powerful T3 based Template</h2>
              <p class="slide_ptext">We believe that there is nothing more important then skillful education</p>
              <a href="" class="slide_readmore">Explore Courses</a>
            </div>
          </div>
        </div>    
        <!--end single tab slide item-->        
        <!--single tab slide item-->
        <div class="tab-pane" id="c">
          <div class="col-md-7 col-sm-7 col-xs-12 pd0">
            <div class="slide_thumb">
              <img src="img/home1/s3.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12 pd0">
            <div class="slide_text">
              <h2 class="slide_title">Multilingual Supported with RTL </h2>
              <p class="slide_ptext">Academia supports multilingual with rtl. Use the power of T3 Framework. </p>
              <a href="" class="slide_readmore">features</a>
            </div>
          </div>
        </div>
      <!-- end single tab slide item-->
        <!--single tab slide item-->
        <div class="tab-pane" id="d">
          <div class="col-md-7 col-sm-7 col-xs-12 pd0">
            <div class="slide_thumb">
              <img src="img/home1/s4.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12 pd0">
            <div class="slide_text">
              <h2 class="slide_title">Publications Online Store support </h2>
              <p class="slide_ptext">Academia supports multilingual with rtl. Use the power of T3 Framework. </p>
              <a href="" class="slide_readmore">features</a>
            </div>
          </div>
        </div>
      <!-- end single tab slide item-->
        <!--single tab slide item-->
        <div class="tab-pane" id="e">
          <div class="col-md-7 col-sm-7 col-xs-12 pd0">
            <div class="slide_thumb">
              <img src="img/home1/s5.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12 pd0">
            <div class="slide_text">
              <h2 class="slide_title">Publications Online Store support </h2>
              <p class="slide_ptext">Academia supports multilingual with rtl. Use the power of T3 Framework. </p>
              <a href="" class="slide_readmore">features</a>
            </div>
          </div>
        </div>
      <!-- end single tab slide item-->     
      </div>

    </div>
    </div>
  </div>
  <!--end slider  area -->
  <!-- tab nav slide item-->
  <div class="slide_nav_menu">
      <div class="container-fluid">
        <div class="row">     
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pd0">
            <div class="slide_tab">
              <ul class="nav_style">
                <li  class="active"><a href="#a" data-toggle="tab">Opening up a world of education</a></li>
                <li ><a href="#b" data-toggle="tab">Powerful T3 based Template</a></li>
                <li class=""><a href="#c" data-toggle="tab">Multilingual Supported with RTL</a></li>
                <li class=""><a href="#d" data-toggle="tab">Publications Online Store support</a></li>
                <li class=""><a href="#e" data-toggle="tab">Sell digital goods with Digicom</a></li>
              </ul>
            </div>
          </div>
        </div>  
      </div>
    </div>
  <!-- tab nav slide item-->
    <!--Start about  area --> 
  <div class="about_area">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="content-inner">
            <h3 class="module-title">
              Welcome to  <span> Academia</span>
            </h3>
            <div class="content-desc">
              <div class="">
                <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>

              <div class="about_texts">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. </p>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                  
              </div>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="video-wrapper pull-right">
            <a class="venobox_custom mfp-iframe vidwrap" data-type="iframe" href="https://www.youtube.com/embed/B7r7YY_EO0A?showinfo=0"></a>
            </div>        
        </div>
      </div>
    </div>
  </div>
  <!--end about  area --> 
  <!--start service  area -->
  <div class="service_area">
    <div class="container">
      <div class="row">
        <!-- service single item --> 
        <div class="col-md-3 col-sm-6 col-lg-3">
          <div class="service_item">
            <span class="lnr lnr-film-play"></span>
            <h2>Over 20,640 Free Tutorial</h2>
            <p>We have step by step tutorials & instructions</p>
          </div>
        </div>
        <!-- end service single item -->
        <!-- service single item --> 
        <div class="col-md-3 col-sm-6 col-lg-3">
          <div class="service_item">
            <span class="lnr lnr-camera-video "></span>
            <h2>Over 20,640 Free Tutorial</h2>
            <p>We have step by step tutorials & instructions </p>
          </div>
        </div>
        <!-- end service single item --> 
        <!-- service single item --> 
        <div class="col-md-3 col-sm-6 col-lg-3">
          <div class="service_item">            
            <span class="lnr lnr-book"></span>
            <h2>Over 180k Books Available</h2>
            <p>We have step by step tutorials & instructions</p>
          </div>
        </div>
        <!-- end service single item --> 
        <!-- service single item --> 
        <div class="col-md-3 col-sm-6 col-lg-3">
          <div class="service_item">
            <span class="lnr lnr-magic-wand"></span>
            <h2>Everything you need to learn </h2>
            <p>We have step by step tutorials & instructions</p>
          </div>
        </div>
        <!-- end service single item -->        
      </div>
    
    </div>
  </div>  
  <!--End service  area -->
  <!--start courses  area -->
  <div class="courses_area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h3 class="module-title">
              Explore all the   <span> Courses</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="courses_owl curosel-style4">
        <!--start course single  item -->
        <div class="col-md-12">
          <div class="course_item">
            <div class="courses_thumb">
              <a href=""><img src="img/home1/course/1.jpg" alt="" /></a>
              <div class="courses_thumb_text">
                <p><a href="#">CELP</a></p>
              </div>
            </div>
            <div class="courses_content">
              <h2><a href="#">CELP</a></h2>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              <a href="#" class="text_uppercase">Read More ...</a>
            </div>
          </div>
        </div>
        <!--End course single  item -->
        <!--start course single  item -->
        <div class="col-md-12">
          <div class="course_item">
            <div class="courses_thumb">
              <a href=""><img src="img/home1/course/2.jpg" alt="" /></a>
              <div class="courses_thumb_text">
                <p><a href="#">CLP</a></p>
              </div>
            </div>
            <div class="courses_content">
              <h2><a href="#">CLP</a></h2>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              <a href="#" class="text_uppercase">Read More ...</a>
            </div>
          </div>
        </div>
        <!--End course single  item -->
        <!--start course single  item -->
        <div class="col-md-12">
          <div class="course_item">
            <div class="courses_thumb">
              <a href=""><img src="img/home1/course/3.jpg" alt="" /></a>
              <div class="courses_thumb_text">
                <p><a href="#">GMAT</a></p>
              </div>
            </div>
            <div class="courses_content">
              <h2><a href="#">GMAT</a></h2>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              <a href="#" class="text_uppercase">Read More ...</a>
            </div>
          </div>
        </div>
        <!--End course single  item -->
        <!--start course single  item -->
        <div class="col-md-12">
          <div class="course_item">
            <div class="courses_thumb">
              <a href=""><img src="img/home1/course/4.jpg" alt="" /></a>
              <div class="courses_thumb_text">
                <p><a href="#">IELTS</a></p>
              </div>
            </div>
            <div class="courses_content">
              <h2><a href="#">IELTS</a></h2>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              <a href="#" class="text_uppercase">Read More ...</a>
            </div>
          </div>
        </div>
        <!--End course single  item -->
        <!--start course single  item -->
        <div class="col-md-12">
          <div class="course_item">
            <div class="courses_thumb">
              <a href=""><img src="img/home1/course/1.jpg" alt="" /></a>
              <div class="courses_thumb_text">
                <p><a href="#">IELTS</a></p>
              </div>
            </div>
            <div class="courses_content">
              <h2><a href="#">IELTS</a></h2>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              <a href="#" class="text_uppercase">Read More ...</a>
            </div>
          </div>
        </div>
        <!--End course single  item -->
        <!--start course single  item -->
        <div class="col-md-12">
          <div class="course_item">
            <div class="courses_thumb">
              <a href=""><img src="img/home1/course/2.jpg" alt="" /></a>
              <div class="courses_thumb_text">
                <p><a href="#">IELTS</a></p>
              </div>
            </div>
            <div class="courses_content">
              <h2><a href="#">IELTS</a></h2>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              <a href="#" class="text_uppercase">Read More ...</a>
            </div>
          </div>
        </div>
        <!--End course single  item -->       
        </div>
      
      </div>
    </div>
  </div>  
  <!--end courses  area -->
  <!--start ads  area -->
  <div class="teacher_area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h3 class="module-title">
              Our fellow  <span>Teachers</span>
            </h3>
          </div>
        </div>
      </div>  
    </div>  
    <div class="container-fulid">
      <!--start teacher single  item -->
      <div class="single_teacher_item">
        <div class="teacher_thumb">
          <img src="img/home1/team/1.jpg" alt="" />
          <div class="thumb_text">
            <h2>Dave Young</h2>
            <p>Teacher</p>
          </div>
        </div>
        <div class="teacher_content">
          <h2>Dave Young</h2>
          <span>Teacher</span>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
          <div class="social_icons">
            <a href="#" class="fb"><i class="fa fa-facebook"></i></a>         
            <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
            <a href="#" class="lin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="go"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <!--End teacher single  item -->
      <!--start teacher single  item -->
      <div class="single_teacher_item">
        <div class="teacher_thumb">
          <img src="img/home1/team/2.jpg" alt="" />
          <div class="thumb_text">
            <h2>Paul Groves</h2>
            <p>Teacher</p>
          </div>
        </div>
        <div class="teacher_content">
          <h2>Paul Groves</h2>
          <span>Teacher</span>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
          <div class="social_icons">
            <a href="#" class="fb"><i class="fa fa-facebook"></i></a>         
            <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
            <a href="#" class="lin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="go"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <!--End teacher single  item -->
      <!--start teacher single  item -->
      <div class="single_teacher_item">
        <div class="teacher_thumb">
          <img src="img/home1/team/3.jpg" alt="" />
          <div class="thumb_text">
            <h2>Matt Macfarlane</h2>
            <p>Teacher</p>
          </div>
        </div>
        <div class="teacher_content">
          <h2>Matt Macfarlane</h2>
          <span>Teacher</span>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
          <div class="social_icons">
            <a href="#" class="fb"><i class="fa fa-facebook"></i></a>         
            <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
            <a href="#" class="lin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="go"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <!--End teacher single  item -->
      <!--start teacher single  item -->
      <div class="single_teacher_item">
        <div class="teacher_thumb">
          <img src="img/home1/team/4.jpg" alt="" />
          <div class="thumb_text">
            <h2>John Doe</h2>
            <p>Teacher</p>
          </div>
        </div>
        <div class="teacher_content">
          <h2>John Doe</h2>
          <span>Teacher</span>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
          <div class="social_icons">
            <a href="#" class="fb"><i class="fa fa-facebook"></i></a>         
            <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
            <a href="#" class="lin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="go"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <!--End teacher single  item -->
      <!--start teacher single  item -->
      <div class="single_teacher_item">
        <div class="teacher_thumb">
          <img src="img/home1/team/5.jpg" alt="" />
          <div class="thumb_text">
            <h2>John Adams</h2>
            <p>Teacher</p>
          </div>
        </div>
        <div class="teacher_content">
          <h2>Paul Groves</h2>
          <span>Teacher</span>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
          <div class="social_icons">
            <a href="#" class="fb"><i class="fa fa-facebook"></i></a>         
            <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
            <a href="#" class="lin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="go"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <!--End teacher single  item -->
      <!--start teacher single  item -->
      <div class="single_teacher_item">
        <div class="teacher_thumb">
          <img src="img/home1/team/6.jpg" alt="" />
          <div class="thumb_text">
            <h2>John Adams</h2>
            <p>Teacher</p>
          </div>
        </div>
        <div class="teacher_content">
          <h2>John Adams</h2>
          <span>Teacher</span>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
          <div class="social_icons">
            <a href="#" class="fb"><i class="fa fa-facebook"></i></a>         
            <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
            <a href="#" class="lin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="go"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <!--End teacher single  item -->
      <!--start teacher single  item -->
      <div class="single_teacher_item">
        <div class="teacher_thumb">
          <img src="img/home1/team/7.jpg" alt="" />
          <div class="thumb_text">
            <h2>Diedre Downing</h2>
            <p>Teacher</p>
          </div>
        </div>
        <div class="teacher_content">
          <h2>Diedre Downing</h2>
          <span>Teacher</span>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
          <div class="social_icons">
            <a href="#" class="fb"><i class="fa fa-facebook"></i></a>         
            <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
            <a href="#" class="lin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="go"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <!--End teacher single  item -->
      <!--start teacher single  item -->
      <div class="single_teacher_item">
        <div class="teacher_thumb">
          <img src="img/home1/team/8.jpg" alt="" />
          <div class="thumb_text">
            <h2>Bonnie odd</h2>
            <p>Teacher</p>
          </div>
        </div>
        <div class="teacher_content">
          <h2>Bonnie odd</h2>
          <span>Teacher</span>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
          <div class="social_icons">
            <a href="#" class="fb"><i class="fa fa-facebook"></i></a>         
            <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
            <a href="#" class="lin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="go"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <!--End teacher single  item -->      
    </div>
  </div>  
  <!--end teacher  area -->
  <!--start offer  area -->
  <div class="offer_area">
    <div class="container"> 
      <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
          <div class="title">
            <h3 class="offer-title">
              Like what you're learning   <span> Get started today!</span>
            </h3>
          </div>        
          <div class="offer_item">
            <div class="offer_content">             
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              <a href="#" class="readmore">Sing Up</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
          <div class="media-box">
            <a class="venobox_custom mfp-iframe video-button text-uppercase" data-type="iframe" href="https://www.youtube.com/embed/JC82Il2cjqA">
              <i class="fa fa-play-circle-o"></i>
              <span>Watch Video</span>            
            </a>                                    
          </div>
        </div>        
      </div>
    </div>
  </div>  
  <!--end offer  area -->
  <!--start priging  area -->
  <div class="priging_area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h3 class="module-title">
              Our Latest  <span>Publications</span>
            </h3>
          </div>
        </div>
      </div>      
      <div class="row">
        <!-- single item priging -->
        <div class="col-md-3 col-sm-6 col-lg-3">
          <div class="priging_item">
            <div class="priging_thumb">           
              <a href="single-store.html">
                <div class="atvImg">
                   <div class="atvImg-layer" data-img="img/home1/book/1.png"></div>
                </div>                            
              </a>
            </div>
            <div class="priging_content">
              <h2>Dont Make me think</h2>             
              <a href="#">Buy Now <span>| $399</span></a>
            </div>
          </div>
        </div>
        <!-- end single item priging -->
        <!-- single item priging -->
        <div class="col-md-3 col-sm-6 col-lg-3">
          <div class="priging_item">
            <div class="priging_thumb">
              <a href="single-store.html">
                <div class="atvImg">
                   <div class="atvImg-layer" data-img="img/home1/book/2.png"></div>
                </div>                            
              </a>
            </div>
            <div class="priging_content">
              <h2>Dont Make me think</h2>             
              <a href="#">Buy Now <span>| $399</span></a>
            </div>
          </div>
        </div>
        <!-- end single item priging -->
        <!-- single item priging -->
        <div class="col-md-3 col-sm-6 col-lg-3">
          <div class="priging_item">
            <div class="priging_thumb">
              <a href="single-store.html">
                <div class="atvImg">
                   <div class="atvImg-layer" data-img="img/home1/book/3.png"></div>
                </div>                            
              </a>
            </div>
            <div class="priging_content">
              <h2>Dont Make me think</h2>             
              <a href="#">Buy Now <span>| $399</span></a>
            </div>
          </div>
        </div>
        <!-- end single item priging -->
        <!-- single item priging -->
        <div class="col-md-3 col-sm-6 col-lg-3">
          <div class="priging_item">
            <div class="priging_thumb">
              <a href="single-store.html">
                <div class="atvImg">
                   <div class="atvImg-layer" data-img="img/home1/book/4.png"></div>
                </div>                            
              </a>
            </div>
            <div class="priging_content">
              <h2>Dont Make me think</h2>             
              <a href="#">Buy Now <span>| $399</span></a>
            </div>
          </div>
        </div>
        <!-- end single item priging -->
      </div>
        <div class="row">
        <div class="col-md-12">
          <div class="learnmore text-center">
            <a href="#" class="read_more bmore">Browse More</a>
          </div>
        </div>
        </div>      
    </div>
  </div>  
  <!--end priging  area -->
  <!--start news  area -->  
  <div class="news_area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h3 class="module-title">
               Latest  <span>News</span>
            </h3>
          </div>
        </div>
      </div>    
      <div class="row">
        <!--start single news  item --> 
        <div class="col-md-6 col-sm-12">
          <div class="single_news_item">
            <div class="news_thumb">
            <a href="#"><img src="img/home1/news/1.jpg" alt="" /></a> 
            </div>
            <div class="news_content">
              <p class="date">8 Jan 2016</p>
              <h2><a href="single-blog.html">A Diploma of Accounting is specifically designed for indivisuals </a></h2>
              <p>Aliquam pellentesque velit et augue viverra dapibus. Cras tempus ultrices iaculis. Fusce feugiat augue viverra dapibus. Cras tempus ultrices iaculis. Fusce feugiataugue viverra dapibus. Cras tempus ultrices iaculis. Fusce feugia velit et augue viverra dapibus. Cras tempus ultrices iaculis. Fusce feugiat augue viverra dapibus. Cras ... </p>
              <a href="" class="read_more">Read More...</a>
            </div>
          </div>
        
        </div>
        <!--end single news  item --> 
        <div class="col-md-6">
          <div class="row">
          <!--start single news  item --> 
          <div class="col-md-6 col-sm-6">
            <div class="single_news_item">
              <div class="news_thumb">
              <a href="#"><img src="img/home1/news/2.jpg" alt="" /></a> 
              </div>
              <div class="news_content">
                <p class="date">8 Jan 2016</p>
                <h2><a href="single-blog.html">Aliquam pellentesque velit et augue viverra dapibus cras</a></h2>
              </div>
            </div>            
          </div>
          <!--end single news  item --> 
          <!--start single news  item --> 
          <div class="col-md-6 col-sm-6">
            <div class="single_news_item">
              <div class="news_thumb">
              <a href="#"><img src="img/home1/news/3.jpg" alt="" /></a> 
              </div>
              <div class="news_content">
                <p class="date">8 Jan 2016</p>
                <h2><a href="single-blog.html">Fusce id metus purus Donec eu mollis sapien nulla</a></h2>
              </div>
            </div>        
          </div>
          <!--end single news  item -->
          <!--start single news  item --> 
          <div class="col-md-6 col-sm-6">
            <div class="single_news_item">
              <div class="news_thumb">
              <a href="#"><img src="img/home1/news/4.jpg" alt="" /></a> 
              </div>
              <div class="news_content">
                <p class="date">8 Jan 2016</p>
                <h2><a href="single-blog.html">Pellentesque turpis felis, dignissim sit amet sagittis ac</a></h2>
              </div>
            </div>            
          </div>
          <!--end single news  item --> 
          <!--start single news  item --> 
          <div class="col-md-6 col-sm-6">
            <div class="single_news_item">
              <div class="news_thumb">
              <a href="#"><img src="img/home1/news/5.jpg" alt="" /></a> 
              </div>
              <div class="news_content">
                <p class="date">8 Jan 2016</p>
                <h2><a href="single-blog.html">A Diploma of Accounting is specifically designed for you </a></h2>
              </div>
            </div>        
          </div>
          <!--end single news  item -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end news  area -->
  <!--start share  area -->
  <div class="share_area sharre_top">
    <div class="container">
      <div class="row">
        <div class="share-container">
          <!-- single item brand -->
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="share-item">
              <div class="brand_content content_left_fb">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                  <div class="icone_text">
                  <p>893K Followers</p>
                  <h5>Follow Us</h5>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- end single item brand -->
          <!-- single item brand -->
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="share-item">
              <div class="brand_content content_left_tw">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                  <div class="icone_text">
                  <p>893K Followers</p>
                  <h5>Follow Us</h5>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- end single item brand -->
          <!-- single item brand -->
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="share-item">
              <div class="brand_content content_left_pn">
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                  <div class="icone_text">
                  <p>893K Followers</p>
                  <h5>Follow Us</h5>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- end single item brand -->
          <!-- single item brand -->
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="share-item">
              <div class="brand_content content_left_in">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                  <div class="icone_text">
                  <p>893K Followers</p>
                  <h5>Follow Us</h5>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- end single item brand -->        
        </div>
      </div>
    </div>
  </div>  
<% include includes/footer.ejs %>